body {
  /* remove this if you prefer light mode */
  background-color: #2d3748;
  color: #f7fafc;
}

.title {
  color: #faf089;
}

.colorized {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: auto;
}

.math {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.katex-display {
  font-size: 1.5rem;
}

.explanation {
  font-size: 1.65rem;
  max-width: 75%;
}
